
@color: rgb(14, 88, 131);
code {
  display: block;
  padding: 0.88889em;
  margin: 10px 0;
  font-size: 0.9em;
  word-break: normal;
  word-wrap: normal;
//   white-space: pre;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #eee;
  border-radius: 4px;
}
.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.15em;
  fill: @color;
  overflow: hidden;
}